In [3]:
import sys
!{sys.executable} -m pip install pandas
import sys, importlib, subprocess
print("sys.executable:", sys.executable)
print("sys.version:", sys.version)
print("importlib.util.find_spec('pandas'):", importlib.util.find_spec("pandas"))
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

Requirement already satisfied: pandas in c:\users\chakr\anaconda3\envs\vehicle\lib\site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\chakr\anaconda3\envs\vehicle\lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\chakr\anaconda3\envs\vehicle\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\chakr\anaconda3\envs\vehicle\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\chakr\anaconda3\envs\vehicle\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
sys.executable: c:\Users\chakr\anaconda3\envs\vehicle\python.exe
sys.version: 3.12.5 | packaged by Anaconda, Inc. | (main, Sep 12 2024, 18:18:29) [MSC v.1929 64 bit (AMD64)]
importlib.util.find_spec('pandas'): ModuleSpec(name='pandas', loader=<_frozen_importlib_external.SourceFileLoader object at 0x0000020FC05F29C0>, origin='c:\\Users\\chakr\\anaconda3\\envs\\vehicle\\Lib\\site-packages\\pandas\\__init__.py', submodule_search_locations=['c:\\Users\\chakr\\anaconda3\\envs\\vehicle\\Lib\\site-packages\\pandas'])

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\chakr\anaconda3\envs\vehicle\lib\site-packages (4.16.0)
Requirement already satisfied: dnspython<3.0.0,>=2.6.1 in c:\users\chakr\anaconda3\envs\vehicle\lib\site-packages (from pymongo) (2.8.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [5]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
# data

In [11]:
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = "mongodb+srv://Pabitra_10:vrNBEjkGPqZLEjaz@cluster0.htocyri.mongodb.net/?appName=Cluster0"

In [12]:
import pymongo

In [13]:
from pymongo import MongoClient

In [14]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [15]:
rec = collection.insert_many(data)

In [16]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,698390f42878b5eefc1e185a,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,698390f42878b5eefc1e185b,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0

In [ ]:
## If you are getting timeout issue

# import certifi
# client = pymongo.MongoClient(CONNECTION_URL, tlsCAFile=certifi.where())
# # TO CREATE THE DATABASE
# data_base = client[DB_NAME]
# collection = data_base[COLLECTION_NAME]
# # TO INSERT DATA INTO THE COLLECTION
# rec = collection.insert_many(data)